
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---------------------------------TEKST--------------------------------*/
h1{
    margin: auto;
    font-size: 100pt;
    font-family: 'Playfair Display', serif;
    color: #ff5951;
    margin-top: -80px;
    margin-bottom: 30px;
}
p{
    color: black;
    font-size: 20pt;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Lato', sans-serif;
   
}
.pris{
    font-size: 10pt;
    margin-left: 15%;
}

/*---------------------------------BODY--------------------------------*/
body a{
    text-decoration: none;
    color: black;

}
body a:hover{
    text-decoration: underline;
}
/*---------------------------------------HEADER--------------------------------*/
#burgermenu{
    display: none; /*dækker over den ekstra menu - burgermenuen - der ikke skal vises på laptop*/
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 999;
    font-family: 'Lato', sans-serif;
    transition: 2s;
    display: block;
}

header:hover{
    background-color: white;
    transition: 2s;
}

#logo{
    width: 20%;
    padding-left: 2%;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a{
    padding-left: 45px;
    padding-right: 45px;
    text-decoration:none;
    color: black;
}
header nav a:hover{
    text-decoration: underline;

}

/*dropdown------------------------------------------*/
.dropdown{
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    display:none;
    color: black;
    position: absolute;
    z-index: 1;
    min-width: 240px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
.dropdown-content a:hover{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}
.dropdown:hover .dropdown-content{
    display: block;   
}

/*burgerikon---------------------------------*/
.burgerikon .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
.burgerikon .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.burgerikon .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
.burgerikon .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
.burgerikon .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
.burgerikon .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
.burgerikon{
    display: none;
    
}
.burgerikon input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
.burgerikon input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

/*generelle regler----------------------------------*/
h1{
    text-align: center;
}

/*styling landing----------------------------------*/

#mforside{
    background-image: url(./fotos/Mforside.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    display: none;
}
#midttekst{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
#llanding{
    width: 100%;
    height: auto;  
    display: block;
}
#mlanding{
    width:100%;
    height: auto;
    display: none;
}
#ltekstcenter{
    margin-top: -500px;
    margin-bottom: 530px;
    display: block;
}
#mtekstcenter{
    margin-top: -800px;
    margin-bottom: 830px;
    display: none;
}

/*beskrivelse af fx Sita billede til laptop--------------------*/
.lbilledetop{
    margin-top: 140px;
    width: 70%;
    height: auto;
    margin-left: 15%;
}
.mbilledetop{
    margin: auto;
    width: 100%;
    height: auto;
    display: none;
}
.tekstbillede{
    position: relative;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 30px;
}

/*til billed/tekst deling på sita side-------------------*/
.flexb1t1{
    display: flex;
    width:70%;
    height: 500px;/*skal hedde height: auto*/
    align-items: center;
    margin: auto;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 20px;
}
.pladsholder{
    width: 45%;
    height: auto;
    /*nogen bud på, hvordan vi får teksten op i toppen og ikke centreret?*/
}
.pladsholdert{
    width: 45%;
    height: 250px;
}
.pladsholdersitat{
    width: 45%;
    height: auto;
}
/*til tekst/billede/billede på sita fx----------------------*/
.flexb2t1{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    gap: inherit;
    margin-top: 10%;
}
.bredtekst{
    width: 65%;
    height: 100%;
}
.tobtekst{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 30%;
    min-height: 600px;
    margin-top: 20px;

}
.plads2{
    width: 100%;
    height: auto;
    background-color: aqua;
}

/*events------------------------------------------*/
.flexevent{
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    margin-left: 20%;
    justify-content: space-between;
    gap:10%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.streg{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width:70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

/*rekatngel billde - tokvadrat billede, OBS tjek om det virker med billedernes størrelse!!*/
.flexb2t1{
    width: 70%;
    min-height: 600px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    gap:5%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lrektangel{
    width: 60%;
    height: auto;
    display: block;
}
.mkvadrat{
    width:100%;
    height: auto;
    display: none;
}
.kvadratsæt{
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 49%;
    justify-content: space-between;
    gap:2%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.plads3{
    width: 100%;
    height: auto;
    margin-bottom:3%;
}






@media screen and (max-width: 800px){
    p{
        font-size: 17pt;
    }
    #logo{
        display: none;
    }
    header nav{
        display: none; /*dækker over laptopmenuen, så den ikke vises på mobil*/
    }
    /* burgermenu----------------------------*/
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    #burgermenu{
        margin-top: -25px;
        display: block; /*burgermenu vises*/
    }
    .menu-items {
        margin-top:-25px; /*for at få menu-items kassen til at gå helt op til toppen af skærmen - ellers vistes lidt af billedet i toppen*/
    }
    .container {
        width: 100%;
        margin: auto;
      }
      
      .navbar {
        width: 100%;
      }
      
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        /*margin-top: 20px;*/
      }
      
      .navbar .menu-items {
        display: flex;
      }
      
      .navbar .nav-container li { /*for at alle punkter ikke får en prik foran sig (fordi <li>)*/
        list-style: none;
      }
      
      .navbar .nav-container a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 60px;
      }
      
      .nav-container .checkbox { /*styling af den usynlige chechbox, der ligger under burgerikonet, så det virker når man klikker på det - ellers er det bare et billede*/
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 40px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines { /*ja - burgerlinjernes styling så de ses som burger*/
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line { /*styling af den enkelte linje i burgeren*/
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: black
      }
      
      .nav-container .hamburger-lines .line1 { 
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 { 
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbar .menu-items { /*styling til hvordan linksene er placeret og transformeres*/
        padding-top: 120px;
        background-color: white;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      }
    
      
      .navbar .menu-items li { /*tekststørrelse, -type og den slags*/
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        padding-left: 30%;
      }
      .navbar .menu-items .ddc { /*det samme, men til de punkter, der var dropdown content (derfor ddc) i laptopnaven*/
        margin-bottom: 1.2rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
      }
      .logo {
        position: absolute;
        top: 5px;
        left: 15px;
        font-size: 1.2rem;
        color: #0e2431;
        display: none;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items { /* hvad der sker når den usynlige checkbox er checket af*/
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 { /*øverste burgerlinje drejer højre ende ned*/
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 { /*midterste linje forsvinder*/
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {/*nederste burgerlinje drejer højre ende op*/
        transform: rotate(45deg);
        transform: rotate(-45deg);
      }
    
      .nav-container input[type="checkbox"]:checked ~ .logo{/*logoet ligger lige nu under kassen med menu-items og skjules - så display=none er ligegyldigt, vi skal have den ind i menu-items kassen, hvis den skal vises, men det tænker jeg vi gør, hvis vi har tid*/
        display: block;
      }

        /*---------------------------------*/

    #lforside{
        display: none;
    }
    #mforside{
        display: block;
    }
    #llanding{
        display: none;
    }
    #mlanding{
        display: block;
    }
    #ltekstcenter{
        margin-top: -500px;
        margin-bottom: 530px;
        display: none;
    }
    #mtekstcenter{
        margin-top: -800px;
        margin-bottom: 830px;
        display: block;
    }
    .pladsholdersitat{
        width: 100%;
        text-align: left;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .lbilledetop{
        display: none;  
    }
    .mbilledetop{
        margin: auto;
        width: 100%;
        height: 800%;
        background-color: red;
        display: block;
    }
  


    .flexb1t1{
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

   
    .pladsholder{
        width:80%;
        height: auto
    }

    .pladsholdert{
        margin-top: 10%;
        margin-bottom: -40%;
        text-align: center;
    }
    .plads2{
        margin-bottom: 10%;
    }
    .revers{
        flex-direction: column-reverse;
        margin-top: 50%;
    }

    .flexb2t1{
        flex-direction: column-reverse;
        margin-top:20px;
        width: 100%;
        margin: auto;
        margin-top: 300px;
    }
    .bredtekst{
        width:100%;
    }
    .tobtekst{
        width: 80%;
    }
    .plads2{
        width: 100%;
    }



    .flexevent{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }



    .lrektangel{
        display: none;
    }
    .mkvadrat{
        display: block;
        width: 80%;
    }
    .column{
        flex-direction: column;
    }
    .plads3{
        width:80%;
        margin: auto;
        margin-bottom: 3%;
    }
    .kvadratsæt{
        width: 100%;
    }
}




/*HER STARTER FOOTER'EN*/
footer{
    background-color: rgb(255, 255, 255);
    border-top: solid black 1px;
    margin-top: 40%;
    display: flex;
    height: 10%;
}
footer h4{
    font-family: 'Playfair Display', serif; 
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5%;
  
}
footer h5{
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: rgb(84, 84, 90);
}



.åbningstider{
    margin-top: 5%;
    margin-left: 7%;
    padding-right: 10%;
    
    line-height:250%;
    text-align: left;
}

.åbningstider h4{
    padding-bottom: 70%;
}



.some{
    margin-top: 5%;
    margin-left: 15%;
}


.some a{
    padding-left: 10%; /*Giver ikonerne plads mellem hinanden*/
    text-decoration: none;
}
.some img{ /*ikonernes størrelse*/
    margin-top: 30%;
    width:12%;
    height: 10%;
}
.some img:hover{ /*Hvor stort ikonerne skal "springe" ud*/
    transition: transform .1s;
    width: 15%;
    height: 12.5%;
}


.hyperlink{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
}
.hyperlink h4{
    padding-bottom: 25%;
}

.hyperlink iframe{
    padding-right: 10%;
}
